<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="default" class="LoggerAppenderDailyFile">
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date{Y-m-d H:i:s} %logger %-2level %F%4L %-100msg%n" />
        </layout>
        <param name="file" value="log.%s.log" />
        <param name="datePattern" value="Y-m-d" />
    </appender>
    <root>
        <level value="INFO" />
        <appender_ref ref="default" />
    </root>
</configuration>